
$secondary: #c1fc4e;
$dull-white: rgb(136, 146, 176);
$creamy: rgb(204, 214, 246);
$dark-primary: #240e4a;
$light-white: #3f4550;
$primary: #1d0742;   
$selectionColor: rgba(41, 61, 90, 0.99); 
$text-color: rgb(168, 178, 209);
