$light-teal: rgb(100, 255, 218);
$lime: #c1fc4e;
$light-lime:#c1fc4e80;
$dull-white: rgb(136, 146, 176);
$creamy: rgb(204, 214, 246);
$dark-blue: #240e4a;
$light-white: rgb(45, 57, 82);
$black: #1d0742;   
$selectionColor: rgba(41, 61, 90, 0.99); 
$text-color: rgb(168, 178, 209);
