ul,
ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

p {
  font-weight: 500;
  font-size: 1.062em;
  @include max-width-24 {
    font-weight: normal;
  }
}

.no-redirect {
  cursor: not-allowed;
}

* {
  outline: none;
  box-sizing: border-box;
}

::selection {
  background-color: $selectionColor;
}
