ul,
ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0px 0px 10px;
}

p {
  margin: 0px 0px 15px;
  word-spacing: 2px;
  letter-spacing: 1px;
  line-height: 1.4;
  font-size: 1.1em;
  font-weight: 500;
}

* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection{
  background-color: $selectionColor;
}


.section-heading{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 32px;
    margin: 10px 0px 40px;

    &::before {
        counter-increment: section-count;
        content: "0" counter(section-count) ".";
        margin-right: 10px;
        font-family: $monospace-font-family;
        font-weight: normal;
        color: $lime;
        font-size: 20px;
        text-align: end;
    }

    &::after {
        content: "";
        height: 2px;
        background-color: $light-white;
        margin-left: 20px;
        width: 30%;
        align-self: center;
    }
}