ul,
ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0px 0px 10px;
}

p {
  margin: 0px 0px 15px;
  word-spacing: 2px;
  letter-spacing: 1px;
  line-height: 1.4;
  font-size: 1.1em;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}
