#header {
  @include max-width-48 {
    padding: 0 30px;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0 50px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $primary;
  box-shadow: none;
  z-index: 3;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;

  .nav-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: $monospace-font-family;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 42px;
      width: auto;
      img {
        height: 42px;
        width: auto;
      }
    }
  }

  .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;

    @include max-width-48 {
      display: none;
    }
  }

  .nav-item-list {
    @include max-width-48 {
      margin-right: 0;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    color: $dull-white;
    margin-right: 10px;

    li {
      @include max-width-48 {
        font-size: 1.2em;
      }
      margin: 10px 10px;
      font-size: 0.9em;

      &::after {
        content: "";
        border-bottom: 2px solid $secondary;
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.1s, opacity 0.5s;
      }

      &:hover {
        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  #menu-icon {
    @include max-width-48 {
      display: flex;
    }
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 15px;
    -webkit-tap-highlight-color: transparent;
    z-index: 3;

    div[role="menu"] {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 24px;
    }

    .hamburger {
      transform: rotate(0deg);
      transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);

      &::before {
        width: 120%;
        top: -10px;
        opacity: 1;
        transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in 0s;
      }
      &::after {
        width: 80%;
        bottom: -10px;
        transform: rotate(0deg);
        transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
      }
    }

    .close {
      transform: rotate(225deg);
      transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;

      &::before {
        width: 100%;
        top: 0px;
        opacity: 0;
        transition: top 0.1s ease-out 0s, opacity 0.1s ease-out 0.12s;
      }
      &::after {
        width: 100%;
        bottom: 0px;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out 0s, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
      }
    }

    .hamburger,
    .close {
      background-color: $secondary;
      position: absolute;
      width: 30px;
      height: 2px;
      top: 50%;
      left: 0px;
      right: 0px;
      border-radius: 3px;

      &::after {
        content: "";
        height: 2px;
        display: block;
        background-color: $secondary;
        position: absolute;
        right: 0;
        left: auto;
        border-radius: 4px;
      }
      &::before {
        content: "";
        height: 2px;
        display: block;
        background-color: $secondary;
        position: absolute;
        right: 0;
        left: auto;
        border-radius: 4px;
      }
    }
  }
}

#display-sm-nav {
  visibility: visible;
  transform: translateX(0vw);
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  height: 100vh;
  width: 70vw;
  background-color: $primary;
  transition: all 0.25s linear;

  &.hide {
    @extend %hide;
  }

  .aside {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: inherit;
  }

  .nav-section {
    flex-direction: column;
    height: inherit;
    justify-content: center;
  }

  .nav-item-list {
    flex-direction: column;
    margin-bottom: 20px;
  }

  li {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
    font-family: $monospace-font-family;
    margin: 0 0 20px;

    &::before {
      font-size: 1em;
    }
  }

  .btn {
    align-self: center;
    margin: 0;
    z-index: 1;
  }
}
