.header {
  @extend %my-flex-box;
  height: 100px;
  padding: 0 50px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $black;
  box-shadow: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  z-index: 1;

  .nav-section {
    @extend %my-flex-box;
    justify-content: space-between;
    width: 100%;
    font-family: $monospace-font-family;

    .logo {
      @extend %my-flex-box;
      a {
        color: $lime;
        height: 42px;
        width: auto;

        img {
          height: 42px;
          width: auto;
        }
      }
    }
  }

  .nav-items {
    @extend %my-flex-box;

    @include max-width-48 {
      display: none;
    }
  }

  .nav-item-list {
    @extend %my-flex-box;
    color: $dull-white;
    counter-reset: item;

    li {
      margin: 0 10px;
      font-size: 13px;

      &::before {
        counter-increment: item;
        content: "0" counter(item) ".";
        text-align: right;
        color: $lime;
        font-size: 13px;
      }
    }
  }

  #menu-icon {
    @include max-width-48 {
      display: flex;
    }
    cursor: pointer;
    display: none;
    height: 2.5em;
    width: 42px;
    justify-content: flex-end;

    div {
      height: 2px;
      background-color: $lime;
      width: 35px;
      position: relative;
      top: 20px;

      &::after {
        content: "";
        height: 2px;
        background-color: $lime;
        width: 30px;
        position: absolute;
        top: 9px;
        right: 0;
      }

      &::before {
        content: "";
        height: 2px;
        background-color: $lime;
        width: 40px;
        position: absolute;
        bottom: 9px;
        right: 0;
      }
    }
  }
}

#display-sm-nav {
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  height: 100vh;
  width: 50vw;
  background-color: $black;
  outline: 0;

  &.hide {
    @extend %hide;
  }

  .aside {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: inherit;
  }

  .nav-section {
    flex-direction: column;
    height: inherit;
    justify-content: center;
  }

  .nav-item-list {
    flex-direction: column;
    margin-bottom: 20px;
  }

  li {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
    font-family: $monospace-font-family;
    margin: 0 0 20px;

    &::before {
      font-size: 1em;
    }
  }

  .close {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .close-icon {
    cursor: pointer;
    position: relative;
    height: 36px;
    width: 36px;
    display: flex;

    &::after {
      content: "";
      height: 2px;
      background-color: $lime;
      width: 35px;
      position: absolute;
      top: 15px;
      transform: rotate(45deg);
    }

    &::before {
      content: "";
      height: 2px;
      background-color: $lime;
      width: 35px;
      position: absolute;
      top: 15px;
      transform: rotate(135deg);
    }
  }

  .btn {
    align-self: center;
    margin: 0;
  }
}
