.btn {
  @extend %btn;

  &-lg {
    font-size: 1em;
    padding: 1.1rem 2.3rem;
  }

  &-x-lg {
    font-size: 1.1em;
    padding: 1.25rem 3rem;
  }
}

.link {
  @extend %link;
}

.moveup {
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-5px);
  }
}

.zoomin {
  transition: font-size 0.2s;

  &:hover {
    font-size: 1.1em;
  }
}

.list-item {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: $monospace-font-family;
  font-size: 0.9em;
  font-weight: 500;

  &::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: $lime;
    line-height: 12px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
  transition: 0.5s ease;
  background-color: $lime;

  &:hover{
    opacity: 0;
  }
}

.section-heading {
  @include max-width-48 {
    font-size: 1.4em;
  }
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 10px 0px 40px;
  font-size: 1.7em;

  &::before {
    counter-increment: section-count;
    content: "0" counter(section-count) ".";
    margin-right: 10px;
    font-family: $monospace-font-family;
    font-weight: normal;
    color: $lime;
    font-size: 20px;
    text-align: end;
  }

  &::after {
    content: "";
    height: 2px;
    background-color: $light-white;
    margin-left: 20px;
    width: 30%;
    align-self: center;
  }
}

.links {
  font-size: 1.5em;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0 10px;
  font-size: 0.85em;
  font-family: $monospace-font-family;
  color: $text-color;

  & > li {
    margin-left: 20px;
  }
}

.overall-experience {
  display: inline-block;
  color: $lime;
}

.underline {
  color: $lime;
  padding: 0;
  position: relative;
  font-family: $sans-serif-font-family;

  &::after {
    content: "";
    background-color: $lime;
    height: 1px;
    display: block;
    position: absolute;
    bottom: 1px;
    width: 0;
    opacity: 0.8; 
    transition: width 0.25s linear;
  }
  &:hover {
    &::after {
      width: 100%;
      left: 0;
      right: auto;
    }
  }
}

