#intro {
  @extend %section;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;

  @include max-width-48 {
    padding: 150px 0 100px;
  }

  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;

  h1 {
    font-size: 1em;
    color: $lime;
    font-family: $monospace-font-family;
    font-weight: normal;
    margin: 0px 0px 20px 3px;
  }

  h2 {
    @include max-width-48 {
      font-size: 2.7em;
    }
    font-size: 4em;
    margin: 0px;
    letter-spacing: 0.02em;
    word-spacing: 0.1em;
  }

  h3 {
    @include max-width-48 {
      font-size: 2.7em;
    }
    font-size: 3em;
    line-height: 1.1;
    color: $dull-white;
    letter-spacing: 0.02em;
    word-spacing: 0.1em;
  }

  div {
    margin-top: 25px;
    width: 100%;
    max-width: 500px;
    color: $dull-white;
  }


  a {
    margin-top: 50px;
    margin-left: 0;
    text-transform: none;
  }
}
