#labs {
    @extend %section;

    h4 {
        display: flex;
        justify-content: center;
        margin: 10px 0px 40px;
        font-size: 1.5em;
    }
    .project-cards {
        @include max-width-48 {
            padding: 0 10px;
        }
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 20px;
        margin-top: 50px;
    }
    .project-card {
        background-color: $dark-blue;
        padding: 2rem 1.75rem;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            font-size: 1.4em;
        }

        h5 {
            font-weight: 500;
            font-size: 1.4em;
        }

        p {
            word-spacing: normal;
            letter-spacing: normal;
            color: $dull-white;
        }

        .fa-folder-open {
            color: $lime;
            font-size: 1.4em;
        }

        .tech-list {
            @include max-width-24 {
                font-size: 0.75em;
            }
            & > li {
                margin-left: 0;
                margin-right: 20px;
            }
        }
    }
}
