html,
body {
  height: 100%;
}

body {
  font-family: $sans-serif-font-family;
  background-color: $primary;
  color: $creamy;
  overflow-x: hidden;
  line-height: 1.3;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: $dark-primary;
}

body::-webkit-scrollbar-thumb {
  background: $secendary;
  border-radius: 10px;
}

.left-fix {
  @extend %fix-orientation;
  right: 0;
  left: 40px;

  i {
    font-size: 1.2em;
  }
}

.right-fix {
  @extend %fix-orientation;

  a {
    font-size: 0.8em;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    margin: 20px auto;
    padding: 10px;
  }
}

#content {
  main {
    @include max-width-48 {
      padding: 0px 50px;
    }
    @include max-width-30 {
      padding: 0px 30px;
    }

    min-height: 100vh;
    counter-reset: section-count;
    padding: 0px 150px;
    margin: 0px auto;
  }
}

#scroll-to-top {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  right: 30px;
  bottom: 50px;
  border-radius: 50%;
  padding: 12px 15px;
  background-color: $secendary;
  font-size: 17px;
  cursor: pointer;
  transition: visibility 0.01s, opacity 0.5s;

  &:focus {
    color: $primary;
  }
}
