#other-projects {
    @extend %section;

    h4{
          display: flex;
          justify-content: center;
          margin: 10px 0px 40px;
          font-size: 1.5em;
    }
    .project-cards {
        @include max-width-40{
            grid-template-columns: 1fr;
        }
        @include between-40-70{
            grid-template-columns: repeat(2, 1fr);
        }
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        margin-top: 50px;
    }
    .project-card {
        box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        height: 100%;
        background-color: $dark-blue;
        padding: 2rem 1.75rem;
        border-radius: 3px;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

        .links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
        }

        h5 {
            font-weight: 500;
            font-size: 1.4em;
        }

        p {
            word-spacing: normal;
            letter-spacing: normal;
            color: $dull-white;
        }

        .fa-folder-open {
            color: $lime;
            font-size: 1.6em;
        }
    }
}
