%fix-orientation {
  @include max-width-48 {
    display: none;
  }

  display: block;
  width: 40px;
  position: fixed;
  bottom: 0;
  right: 40px;
  color: $dull-white;

  > * {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      background-color: $creamy;
      margin: 0px auto;
    }
  }

}

%hide {
  display: none;
}

%btn {
  border: 1px solid $lime;
  border-radius: 3px;
  color: $lime;
  line-height: 1;
  cursor: pointer;
  margin-left: 10px;
  font-size: 13px;
  padding: 0.75rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  position: relative;
  transition: color 0.5s ease-in-out;

  &:hover {
    color: $black;
    font-weight: bold;
    &::after {
      height: 100%;
    }
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: $lime;
    transition: height 0.25s ease;
    z-index: -1;
  }
}

%link {
  font-family: $monospace-font-family;
  padding: 12px 10px;
  text-decoration: none;
  cursor: pointer;
  text-decoration-skip-ink: auto;
  display: inline-block;
  color: $creamy;

  &:hover {
    color: $lime;
  }
}

%section {
  position: relative;
  margin: 0px auto;
  padding: 110px 0px;
  max-width: 1000px;
}
